package ${groupId}.${module}.rpc.service;

import org.slf4j.Logger;
import org.slf4j.LoggerFactory;
import org.springframework.context.support.ClassPathXmlApplicationContext;

/**
* 服务启动类
* Created by administrator on ${ctime}.
*/
public class CSB${model}RpcServiceApplication {

private static Logger _log = LoggerFactory.getLogger(CSB${model}RpcServiceApplication.class);

public static void main(String[] args) {
    _log.debug(">>>>> csb-${module}-service 正在启动 <<<<<");
    new ClassPathXmlApplicationContext("classpath*:spring/spring-context*.xml");
    _log.debug(">>>>> csb-${module}-service 启动完成 <<<<<");
}

}
