package ${groupId}.${module}.rpc.api;

import ${groupId}.${module}.dao.model.${model};
import ${groupId}.${module}.dao.model.${model}Example;
import ${groupId}.common.base.BaseService;

/**
* ${model}service接口
* Created by administrator on ${ctime}.
*/
public interface ${model}Service extends BaseService<${model}, ${model}Example> {

}