package ${groupId}.${module}.rpc.api;

import ${groupId}.common.base.BaseServiceMock;
import ${groupId}.${module}.dao.mapper.${model}Mapper;
import ${groupId}.${module}.dao.model.${model};
import ${groupId}.${module}.dao.model.${model}Example;

/**
* 降级实现${model}Service
* Created by administrator on ${ctime}.
*/
public class ${model}ServiceMock extends BaseServiceMock<${model}Mapper, ${model}, ${model}Example> implements ${model}Service {

}